<div class="about">
    <div class="about__container">
        <div class="about__header">
            <h3 class="about__title">
                Comprar óculos deve deixá-lo feliz e bonito, com dinheiro no bolso. Óculos, óculos de sol e contatos - protegemos seus olhos.
            </h3>
        </div>
        <div class="about__main">
            <div class="about__banner">
                <img src="@img(vitrine-01)" alt="banner" title="banner" />
            </div>
            <div class="about__content">
                <img src="@img(vitrine-02)" alt="banner" title="banner" />
                <div class="about__info">
                    <h4 class="about__subtitle">
                        Holofotes na luz azul
                    </h4>
                    <div class="about__description">
                        <p>Nossas lentes de filtragem de luz azul são ideais para dias de tela pesada. </p>
                        <p>Adicione-os a qualquer quadro óptico com ou sem receita médica.</p>
                    </div>
                    <div class="about__actions">
                        <a href="#" class="about__link">
                            <span>Veja Mais</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>