.cms-home .header-container + .banner
    margin-top: -16px

.banner:not(.banner--nojs) img.d_img
    width: 100%
    object-fit: cover

#banner__banner-rulers
    padding-bottom: 16px
    background: #ffffff

    shadowBorder()
