@media media-max-lg
    .categories
        img, svg
            display: none

        &__show
            order: -1
            margin-top: 30px
            margin-right: 0
            background: none
            color: var(--primary)

            svg
                fill: currentColor

        .parent
            position: relative

            > ul
                display: none

            &:after
                content: ''

            > a
                display: flex
                justify-content: flex-start
                align-items: center
                min-height: 48px

            &:after
                icon('\f054')

                position: absolute
                top: 0
                right: 0
                z-index: 10
                display: flex
                justify-content: center
                align-items: center
                width: 48px
                height: 48px
                background: rgba(255, 255, 255, .1)
                color: var(--primary-contrast)
                font-size: 16px
                transition: all .2s ease

            &.on
                &:after
                    transform: rotate(90deg)

                > ul
                    display: block

        .all-li--0
            padding-bottom: 0

@media media-min-lg
    .categories
        flex: 1
        margin-bottom: 0 !important
        min-width: 0
        background: none

        &__all
            display: none

        .ul--0
            position: static
            justify-content: center

        .a--0
            margin: 0 0 8px
            height: 30px
            border-radius: 30px
            color: var(--color-text)
            white-space: nowrap
            font-weight: regular
            font-size: 14px

        .li--0
            position: static
            flex: 0
            order: 1

            &:hover
                .a--0
                    background: var(--primary)

        .box--1
            padding: 0
            width: 100%
            background: #f1f3f6
            box-shadow: none

        .ul--1
            display: flex
            max-width: none
            width: 100%

        .li--1
            flex: 0 1 50%

            &:first-child
                .a--1
                    text-align: right

            &:hover
                &, .a--1
                    background: none
                    box-shadow: none

        .a--1
            padding: 0

            span
                display: none

            img
                display: inline-block
                margin: 0
                max-height: none
