.footer
    color: var(--color-title)
    font-weight: regular
    font-size: 13px

    @media media-max-lg
        text-align: center

    .flex--a-center
        @media media-max-lg
            justify-content: center

    &__title
        padding: 20px 0
        color: var(--primary)
        font-weight: bold
        font-size: 16px

        &--black
            color: var(--color-black)

    &__row
        @media media-min-lg
            display: flex
            justify-content: space-between
            margin: -16px

    &__box
        padding: 1rem

        &--le20
            .footer__content
                > p
                    padding-bottom: .5rem

    &__copyright
        padding-top: 70px
        color: var(--color-black)
        text-align: center
        font-weight: regular
        font-size: 12px