.mycart
    &__header
        color: var(--color-black)

        svg
            width: 22px
            height: 19px
            fill: currentColor

        a
            display: flex
            justify-content: flex-start
            align-items: center
            padding: 4px 4px 8px 6px
            width: 48px
            height: 48px
            color: currentColor

        .text
            display: none

        .qtd
            position: absolute
            top: 0
            right: 0
            display: flex
            justify-content: center
            align-items: center
            width: 18px
            height: 18px
            border-radius: 50%
            background: var(--primary)
            color: var(--primary-contrast)
            font-weight: bold
            font-size: 10px

    &__content
        display: none !important