.socials
    &__list
        flex-direction: column

    &__item
        width: 110px

    &__svg
        position: relative
        padding: 10px
        width: 40px
        height: 40px

    &__link
        position: relative
        display: block
        width: 40px
        height: 40px
        border-radius: 50%
        background: var(--primary)

    &__name
        position: absolute
        top: 0
        left: 100%
        display: flex
        align-items: center
        padding-left: 10px
        height: 100%
        color: #525b63
        font-size: 16px