.col-main .category-image, .category-title
    display: none

.ias-noneleft
    display: none !important

.category-image
    img
        min-width: 100%
        object-fit: cover

.category-description
    position: relative
    margin-bottom: 0 !important
    padding: 50px 0
    border: 0
    background: #f2f4f7
    font-size: 14px

    h3
        font-weight: bold
        font-size: 28px

    shadowBorder()

    @media media-min-lg
        display: flex !important
        align-items: center

        h3
            flex: 0 1 245px
            margin-right: 16px
            margin-bottom: 0

.catalogsearch-result-index
    .page-title h1
        font-size: 1.5rem

        small
            margin-right: 10px
            font-size: 1rem

.catalog-category-view, .catalogsearch-result-index
    @media (min-width: 993px)
        .col-main
            display: contents

        .main
            display: grid
            margin: 0
            grid-template-areas: 'description description' 'filters filters' 'main main'
            grid-template-columns: 2fr

            &-container
                box-shadow: inset 0 100px 0 #f2f4f7

        .category-description
            grid-area: description

        .col-left
            margin: 0
            padding: 0
            max-width: none
            background: #f2f4f7
            grid-area: filters

            shadowBorder()

        .toolbar
            display: none

        .category__products
            grid-area: main

        .toolbar-bottom
            display: none